<% provide(:title, 'New Task') %>
<div class="center">
	<h1>New Task</h1>
</div>	

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@task) do |f| %>

      <%= f.label :Title %>
      <%= f.text_field :Title %>

      <%= f.label :Notes, "Description" %>
      <%= f.text_area :Notes, rows: '10' %>

      <%= f.label :Type, "Type of Task"%>
      <%= f.text_field :Type %>
      <span class="help-block"></span>
      <%= f.label :Team, "Tasking Team" %>
      <%= f.text_field :Team %>

      <%= f.submit "Create a Task", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
