<% provide(:title, @task.Title) %>
<div class="center">
<h1><%=@task.Title %></h1> 
<h2><%=@task.Notes %></h2> 
<h2><%=@task.Type %></h2> 
<h2><%=@task.Team %></h2>
<h3><%=@task.DateRequired %></h3> 
<h3><%=@task.Days %></h3> 
<h4><%=@task.Assigned %></h4> 


</div>